.welcome-container {
    margin-top: 20em;
    display: flex;
}


.background-image-container {
    position: relative;
    width: 100%;
    z-index: -1;
}

.left-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 50%;
    position: absolute;
    z-index: 100;
    color: white;

    /* display: flex; */
    /* position: relative; */
}

.left-for {
    grid-column-start: 1;
    grid-row-start: 1;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 0;
    text-align-last: right;
    margin-top: .8em;
    /* margin-bottom: 2.2em; */
}

.left-group{
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: flex-end;
    padding-top: 2em;
    padding-right: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align-last: right;
    margin-top: 2.2em;
    height: 4em;
}

.left-p{
    grid-row-start: 2;
    font-family: semplicitapro, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align-last: right;
    padding-right: 2em;
    margin-top: 0;
    padding-top: 0;;
}

.arrow-container {
    grid-column-start: 2;
    align-self:flex-end;
    display: flex;
    width: 100px;
    /* margin-top: 2.2em; */
}


.left-arrow {
    width: 2em;
    height: auto;
    align-self:flex-start;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: right;
}

.join-container {
    grid-row-start: 3;
    grid-column-start: 1;
    text-align-last: right;
    margin-top: 2.5em;
}

.login-container {
    grid-row-start: 3;
    grid-column-start: 1;
    align-self:flex-end;
    text-align-last: right;
    margin-bottom: 2.5em;
}

Link .login {
    text-decoration: none;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: scale(1,1)   translateX(0); }
    10%  { transform: scale(1,1)   translateX(0); }
    30%  { transform: scale(1,1)   translateX(40px); }
    50%  { transform: scale(1,1)   translateX(0); }
    57%  { transform: scale(1,1)   translateX(7px); }
    64%  { transform: scale(1,1)   translateX(0); }
    100% { transform: scale(1,1)   translateX(0); }
}
