.pp-contain {
    display:block;
    position: relative;
    width: 100%;
    height: 100%;
}

.product-page-container {
    position: fixed;
    display: block;
    margin: 15em auto 0 0;
    /* margin-top: 15em;
    margin-left: 14em; */

}

.blurb-p{
    margin-right: 5em;
    text-align-last: left;
    color: #353535;
    font-family: semplicitapro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
}

.arrow {
    width: 4em;
}

.arrow-img {
    animation-duration: 2s;
    animation-iteration-count: 10;
    transform-origin: top;
}

.bounce3 {
    animation-name: bounce3;
    animation-timing-function: ease;
}
@keyframes bounce3 {
    0%   { transform: scale(1,1)   translateY(0); }
    10%  { transform: scale(1,1)   translateY(0); }
    30%  { transform: scale(1,1)   translateY(20px); }
    50%  { transform: scale(1,1)   translateY(0); }
    57%  { transform: scale(1,1)   translateY(7px); }
    64%  { transform: scale(1,1)   translateY(0); }
    100% { transform: scale(1,1)   translateY(0); }
}

.edit-prod-table-container {
    margin-top: 4em;
}

table.edit-product-table, th, td {
    border-bottom: 1px solid #35353520;

}

table.edit-product-table {
    width: 800px;
    border-collapse: collapse;
    box-shadow: 0px 5px 10px #35353510;

}

table.edit-product-table > tbody > tr > th {
    width: 220px;
    color: #353535;
    font-family: semplicitapro, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}

table.edit-product-table > tbody > tr > td {
    text-align: center;
    color: #353535;
    font-family: semplicitapro, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 5px 5px 5px 20px;
}

.product-image img {
    width: 70px;
}
